<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
	{% leaflet_js %}
	{% leaflet_css %}
	<title>Our Home</title>
	<style type="text/css">
		#gis {width: 100%;height:600px;}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">	
	<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >	</script>
	<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="{% static 'js/easy-button.js' %}" ></script>	 -->
</head>
<script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>
<script type="text/javascript" src="http://www.liedman.net/lrm-graphhopper/dist/lrm-graphhopper-1.2.0.min.js"></script>
<body>
<h3>Am a hero. Am learning Geodjango </h3>
<script type="text/javascript">
$("#printBtn").click(function(){
  $('#map').print();
});
</script>
<br>

<script type="text/javascript">
	function our_layers(map,options){
		var osm = "http://{s}.tile.openstreetmap.org/{z}{y}{x}.png";
		
		// var L = require('leaflet');
		// require('leaflet-routing-machine');
		// require('lrm-graphhopper');
		
		var datasets = new L.GeoJSON.AJAX("{% url 'county' %}",{
			style: function colors(feature){
				switch(feature.properties.counties){
					case 'WAJIR':
						return{
							color: 'orange',
							fillOpacity: 0.8
						};
					break;
					case 'ISIOLO':
						return{
							color: 'purple',
							fillOpacity: 0.8
						};
					break;

				}
			},
			onEachFeature: function(feature,layer){
				layer.bindPopup(feature.properties.counties.toString());
			}

		});

		var points = new L.GeoJSON.AJAX("{% url 'incidences' %}",{
			pointToLayer: function (feature, latlng) {
                return L.marker(latlng, {
                    icon: L.icon({
                        iconUrl: "static/img/red.png",
                        iconSize: [24, 28],
                        iconAnchor: [12, 28],
                        popupAnchor: [0, -25]
                    }),
                    title: feature.properties.NAME,
                    riseOnHover: true
                });
            },
			onEachFeature: function(feature,layer){
				layer.bindPopup(feature.properties.name.toString());
			}

		});
		// datasets.addTo(map);
		// points.addTo(map);

		// var baseLayers = {
		// 	"OSM":osm
		// }

		// var groupedOverlays = {
		// 	"Layers":{
		// 		"county": datasets,
		// 		"incidences": points,
		// 	}
		// };

		// L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

		var routing =  L.Routing.control({
		  waypoints: [
		  	L.latLng(35.8507, -0.3129),
		    L.latLng(35.7045, -0.632057, )
		  ],
		  lineOptions: {
            styles: [
                {color: 'green', opacity: 0.9, weight: 9},
            ]
        },
		//   router: L.Routing.graphHopper('cc275743-d4e2-43c2-8d1a-ad7e1fd1c6ad'),
		});
		routing.addTo(map)

		console.log(routing)

	}
</script>
{% leaflet_map "gis" callback="window.our_layers" %}
</body>
</html>